@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #F1FADA;
    --cor-secundaria: #2D9596;
    --cor-terciaria: #9AD0C2;
    --cor-quarternaria: #265073;

    --fonte-primaria: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-family: var(--fonte-primaria);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-quarternaria);
}

.cabecalho {
    padding: 5% 0 0 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 2rem;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quarternaria);
}

.conteudo__index {
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10% auto;
    padding: 5% 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(38, 80, 115, 0.2);
}

.conteudo {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    
}

.conteudo__inicio {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.conteudo__inicio__texto {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2rem;
}

.conteudo__inicio__botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#botao__cadastro {
    padding: 1rem 3.5rem;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}

#botao__consulta {
    padding: 1rem 3.5rem;
    color: var(--cor-quarternaria);
    background-color: var(--cor-terciaria);
    border-radius: 10px;
}

.conteudo__formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.conteudo__formulario__titulo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    padding-bottom: 2rem;
}

.conteudo__formulario__label {
    color: var(--cor-secundaria);
    padding-bottom: 0.25rem;
}

.conteudo__formulario__input {
    height: 1.25rem;
}

.conteudo__formulario__botao {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

#botao__limpar {
    background-color: var(--cor-terciaria);
    color: var(--cor-quarternaria);
    border-radius: 10px;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

#botao__salvar,
#botao__consultar {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border-radius: 10px;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

#botao__limpar:hover,
#botao__salvar:hover,
#botao__consultar:hover,
#botao__cadastro:hover,
#botao__consulta:hover {
    background-color: var(--cor-quarternaria);
    color: var(--cor-primaria);
}

#tabela__singular__resultado,
#tabela__completa__resultado {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    margin-top: 2rem;
}

#tabela__singular__corpo,
#tabela__completa__corpo {
    background-color: var(--cor-primaria);
    color: var(--cor-quarternaria);
    text-align: center;
}

#tabela__singular thead tr .celula,
#tabela__completa thead tr .celula{
    width: 150px;
}

#mensagem,
#mensagem__consulta {
    padding: 1rem 0;
}